<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>fdds</display-name>
    <servlet-name>fdds</servlet-name>
    <servlet-class>fdds</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fdds</servlet-name>
    <url-pattern>/fdds</url-pattern>
  </servlet-mapping>
  <display-name>PruebaEntrega2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CrearConetnido</display-name>
    <servlet-name>CrearConetnido</servlet-name>
    <servlet-class>com.entregaDos.servlets.CrearConetnido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearConetnido</servlet-name>
    <url-pattern>/CrearConetnido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarContendio</display-name>
    <servlet-name>ModificarContendio</servlet-name>
    <servlet-class>com.entregaDos.servlets.ModificarContendio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarContendio</servlet-name>
    <url-pattern>/ModificarContendio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarProductos</display-name>
    <servlet-name>EliminarProductos</servlet-name>
    <servlet-class>com.entregaDos.servlets.EliminarProductos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarProductos</servlet-name>
    <url-pattern>/EliminarProductos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HacerPedidio</display-name>
    <servlet-name>HacerPedidio</servlet-name>
    <servlet-class>com.entregaDos.servlets.HacerPedidio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HacerPedidio</servlet-name>
    <url-pattern>/HacerPedidio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarProducto</display-name>
    <servlet-name>BuscarProducto</servlet-name>
    <servlet-class>com.entregaDos.servlets.BuscarProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarProducto</servlet-name>
    <url-pattern>/BuscarProducto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostrarProductos</display-name>
    <servlet-name>MostrarProductos</servlet-name>
    <servlet-class>com.entregaDos.servlets.MostrarProductos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarProductos</servlet-name>
    <url-pattern>/MostrarProductos</url-pattern>
  </servlet-mapping>
</web-app>