<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Inicio</display-name>
    <servlet-name>Inicio</servlet-name>
    <servlet-class>com.servlet.ejercicioGrandeServlet.Inicio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inicio</servlet-name>
    <url-pattern>/Inicio</url-pattern>
  </servlet-mapping>
  <display-name>ProbarServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RecojerSesion</display-name>
    <servlet-name>RecojerSesion</servlet-name>
    <servlet-class>com.servlet.ejercicioGrandeServlet.RecojerSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecojerSesion</servlet-name>
    <url-pattern>/RecojerSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MuestroClases</display-name>
    <servlet-name>MuestroClases</servlet-name>
    <servlet-class>com.servlet.ejercicioGrandeServlet.MuestroClases</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MuestroClases</servlet-name>
    <url-pattern>/MuestroClases</url-pattern>
  </servlet-mapping>
</web-app>